<?xml version="1.0" encoding="utf-8"?>
<BusinessObject Name="JournalNote" RecID="{{rec_id}}">
  <FieldList>
    <!-- Fields common to all BusinessObjects -->
    <Field Name="RecID">{{rec_id}}</Field>
    <Field Name="CreatedDateTime">{{created_date_time}}</Field>
    <Field Name="CreatedBy">{{created_by}}</Field>
    <Field Name="CreatedByID"></Field>
    <Field Name="LastModDateTime">{{last_mod_date_time}}</Field>
    <Field Name="LastModBy">{{last_mod_by}}</Field>
    <Field Name="LastModByID"></Field>
    <Field Name="OwnedBy">{{owned_by}}</Field>
    <Field Name="OwnedByTeam">{{owned_by_team}}</Field>
    <Field Name="OwnerID"></Field>
    <Field Name="OwnerTeamID"></Field>
    <!-- Unused fields? -->
    <Field Name="LastModTimeStamp"/>

    <Field Name="JournalTypeID">{{journal_type_id}}</Field>
    <Field Name="JournalTypeName">Note</Field>
    <Field Name="ParentTypeID">{{parent_type_id}}</Field>
    <Field Name="ParentRecordID">{{parent_record_id}}</Field>
    <Field Name="Details">{{details}}</Field>
    <Field Name="Priority">Normal</Field>
    <Field Name="ShowInSelfService">TRUE</Field>
    <Field Name="QuickJournal"/>
    <Field Name="IncomingEmail">FALSE</Field>
  </FieldList>
</BusinessObject>

