<?xml version="1.0"?>
<BusinessObject Name="MySubclass">
  <FieldList>
    <Field Name="First">{{first_name}}</Field>
    <Field Name="Last">{{last_name}}</Field>
    <Field Name="LastModDateTime">{{last_mod_date_time}}</Field>
  </FieldList>
</BusinessObject>
